.jumbotron {
    width: 70%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
    color: white;
}

.display-4 {
    font-size: 50px;
    padding-bottom: 20px;
}

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    padding: 5px;2
}

.labels {
    margin-bottom: 7px;
}