.jumbotron {
    /* width: 70%; */
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
    color: white;
}

.display-4 {
    font-size: 50px;
    padding-bottom: 20px;
}



form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.clear, .search{
    padding: 5px;
    background-color: transparent;
}

.labels {
    margin-bottom: 7px;
}

.trash, .magnify {
    margin-right: 4px;
}